[build]
  publish = "public"
  command = "./scripts/build.sh && hugo --minify"

[context.production.environment]
  HUGO_VERSION = "0.54.0"
  HUGO_ENV = "production"
  HUGO_ENABLEGITINFO = "true"

[context.deploy-preview]
  command = "./scripts/build.sh && hugo --buildDrafts --buildFuture -b $DEPLOY_PRIME_URL"

  [context.deploy-preview.environment]
    HUGO_VERSION = "0.54.0"

[context.branch-deploy]
  command = "./scripts/build.sh && hugo --buildDrafts --buildFuture -b $DEPLOY_PRIME_URL"

  [context.branch-deploy.environment]
    HUGO_VERSION = "0.54.0"

[[redirects]]
  from = "https://overwaifu.netlify.com/*"
  to = "https://overwaifu.moe/:splat"
  status = 301
  force = true
