[build]
  publish = "public"
  command = "./build.sh && hugo"

[context.production.environment]
  HUGO_VERSION = "0.38.1"
  HUGO_ENV = "production"
  HUGO_ENABLEGITINFO = "true"

[context.deploy-preview]
  command = "./build.sh && hugo --buildDrafts --buildFuture -b $DEPLOY_PRIME_URL"

  [context.deploy-preview.environment]
    HUGO_VERSION = "0.38.1"

[context.branch-deploy]
  command = "./build.sh && hugo --buildDrafts --buildFuture -b $DEPLOY_PRIME_URL"

  [context.branch-deploy.environment]
    HUGO_VERSION = "0.38.1"
