<div class="message is-primary is-small">
  <div class="message-body">
    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="far fa-heart has-text-success"></i></span>Safe posts are images that you would not feel guilty looking at openly in public. Pictures of nudes, exposed nipples or pubic hair, cameltoe, or any sort of sexually suggestive pose are NOT safe and belong in questionable. Swimsuits and lingerie are borderline cases; some are safe, some are questionable.</li>
      <li><span class="fa-li"><i class="fas fa-heart has-text-warning"></i></span>Basically anything that isn't safe or explicit. This is the great middle area, and since it includes unrated posts, you shouldn't really expect anything one way or the other when browsing questionable posts.</li>
      <li><span class="fa-li"><i class="fas fa-fire has-text-danger"></i></span>Any image where the vagina or penis are exposed and easily visible. This includes depictions of sex, masturbation, or any sort of penetration.</li>
    </ul>
    <p>See <a href="/credits">credits</a> for proper credits.</p>
  </div>
</div>
