<nav class="navbar is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item is-size-4" href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
      <div class="navbar-burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="navbar-item is-uppercase {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}is-active{{ end }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
