{{ define "header" }}
{{ $slug := index (split .URL "/") 2 }}
{{ $background := $.Resources.GetMatch "background*" }}
{{ with index (where .Site.Data.overwaifu.characters ".key" $slug) 0 }}
<header class="hero is-medium is-primary has-background">
  {{ if $background }}
  <img class="hero-background is-transparent" src="{{ $background.RelPermalink }}" draggable="false">
  {{ end }}
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <h1 class="title heading is-3 is-overwatch">{{ .name }}</h1>
          <h3 class="subtitle heading is-5">{{ .real_name }}</h3>
        </div>
        <div class="column is-8">
          <div class="columns is-multiline">
            <div class="column is-6">
              {{ partial "waifu/score" (dict "description" "Safe" "score" .score.safe "icon" "heart" "icon_variant" "far") }}
              {{ partial "waifu/score" (dict "description" "Questionable" "score" .score.questionable "icon" "heart") }}
              {{ partial "waifu/score" (dict "description" "Explicit" "score" .score.explicit "icon" "fire") }}
            </div>
            <div class="column is-6">
              {{ partial "waifu/score" (dict "description" "Skins" "score" (len .skins) "icon" "tshirt") }}
              {{ partial "waifu/score" (dict "description" "Selfies" "score" .score.selfie "icon" "camera-retro") }}
              {{ partial "waifu/score" (dict "description" "VK Sweater" "score" .score.virgin_killer_sweater "icon" "snowflake" "icon_variant" "far") }}
            </div>
          </div>
          <div class="columns is-mobile">
            <div class="column">
              Pure: {{ math.Round (mul .score.pure 100) }}%
              <progress class="progress is-success is-small" value="{{ .score.pure }}" max="1">{{ .score.pure }}</progress>
            </div>
            <div class="column">
              Lewd: {{ math.Round (mul .score.lewd 100) }}%
              <progress class="progress is-danger is-small" value="{{ .score.lewd }}" max="1">{{ .score.lewd }}</progress>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{{ end }}
{{ end }}

{{ define "content" }}
{{ $slug := index (split .URL "/") 2 }}
{{ with index (where .Site.Data.overwaifu.characters ".key" $slug) 0 }}
<section class="section">
  <div class="container is-fluid">
    <div class="cards">
      {{ range sort (where .skins ".score.all" "!=" nil) ".score.all" "desc" }}
        <div class="card is-fullheight">
          <div class="card-image">
            <figure class="image is-1by1">
              <img src="/img/skins/{{ $slug }}/{{ .key }}.png" draggable="false">
            </figure>
          </div>
          <div class="card-content">
            <p class="title heading is-4 has-text-{{ .rarity }}">{{ .name }}</p>
            <p class="subtitle heading is-6 has-text-grey-light">{{ .event | default "Default" }}</p>

            <div class="columns is-mobile">
              <div class="column has-text-centered">
                <p><span class="icon tooltip is-tooltip-top is-tooltip-success" data-tooltip="Safe images"><i class="far fa-heart has-text-success"></i></span></p>
                <p class="title is-5">{{ .score.safe | default 0 }}</p>
              </div>
              <div class="column has-text-centered">
                <p><span class="icon tooltip is-tooltip-top is-tooltip-warning" data-tooltip="Questionable images"><i class="fas fa-heart has-text-warning"></i></span></p>
                <p class="title is-5">{{ .score.questionable | default 0 }}</p>
              </div>
              <div class="column has-text-centered">
                <p><span class="icon tooltip is-tooltip-top is-tooltip-danger" data-tooltip="Explicit images"><i class="fas fa-fire has-text-danger"></i></span></p>
                <p class="title is-5">{{ .score.explicit | default 0 }}</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <a href="https://chan.sankakucomplex.com/?{{ querify "tags" (index .tags 0) | safeURL }}" target="_blank" class="card-footer-item">View on Sankaku Channel</a>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>

<hr />
<div class="container">
  {{ partial "legend" . }}
</div>
</section>
{{ end }}
{{ end }}
